<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated unzip -->
      <package
            uri="http://www.example.org/task-unzip/1.0"
            class="com.github.maybeec.oomph.task.unzip.unzipPackage"
            genModel="model/unzip.genmodel"/>
   </extension>

</plugin>
